#container {
    margin: 10px auto;
    min-width: 688px;
    height: 253px;
    width: 700px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    border: 2px solid #e9ecef;
}

#write {
margin: 0 0 5px;
padding: 5px;
width: 671px;
height: 200px;
font: 1em/1.5 Verdana, Sans-Serif;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#keyboard {
margin: 0;
padding: 0;
list-style: none;
}
    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #keyboard .tab, #keyboard .delete {
            width: 70px;
            }
            #keyboard .capslock {
            width: 80px;
            }
            #keyboard .return {
            width: 77px;
            }
            #keyboard .left-shift {
            width: 95px;
            }
            #keyboard .right-shift {
            width: 109px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #keyboard .space {
        width: 430px;
        float: left;
        }
        .index-finger-left, .ring-finger-right {
          background-color: aliceblue
        }
        .pinky-finger-left, .pinky-finger-right {
          background-color: lightyellow
        }
        .index-finger-right, .ring-finger-left  {
          background-color: linen 
        }
        .middle-finger-right, .middle-finger-left {
          background-color: lightcyan
        }
        .home-row {
          border: 2px solid darkgray !important;
        }
        .buffer {
          width: 107px !important;
          border: 1px !important;
     clear: left;       
        }
        .on {
        display: none;
        }
